</div></div>

  <div class="w3-row w3-padding-16">
    <p>&nbsp;</p>
  </div>

  <div class="w3-row w3-padding-16">
    <p>&nbsp;</p>
  </div>

  <div class="w3-row w3-padding-16">
    <p>&nbsp;</p>
  </div>


  <footer id="myFooter" class="w3-bottom">
    <div class="w3-container w3-theme-l2 w3-padding-16">
      <h4>DeLINEATE Toolbox</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>http://delineate.it &nbsp; &nbsp; &#8226; &nbsp; &nbsp; Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

</body>
</html>


